/* line 1, ../sass/custom.scss */
body {
  background-color: #2a956d;
  font: 100% Helvetica, sans-serif;
  color: #333;
}
/* line 5, ../sass/custom.scss */
body .main, body .bottom {
  background: #7996ab;
}
/* line 7, ../sass/custom.scss */
body .main ul.artistlist, body .bottom ul.artistlist {
  margin: 1em;
  padding: 1em;
  list-style: none;
}
/* line 11, ../sass/custom.scss */
body .main ul.artistlist li.artist, body .bottom ul.artistlist li.artist {
  display: inline-block;
  padding: 6px 12px;
}

/* line 20, ../sass/custom.scss */
.bottom {
  padding-left: 30px;
}
