body{
  background-color: #95395d;
}


.artistlist {
  background-color: #EEE8D5;
  width: 50%;
  border-radius: 0 0 20px 20px;
  opacity: .95;
  z-index: 10;
}


.artist {
  list-style-type: none;
  text-decoration: none;
}