body{
  background-color: #2a956d;
  font:100% Helvetica, sans-serif;
  color: #333;
  .main {
    background: #7996ab;
    ul.artistlist {
      margin: 1em;
      padding: 1em;
      list-style: none;
      li.artist {
        display: inline-block;
        padding: 6px 12px;
      }
    }
  }
}


.bottom{
  @extend .main;
  padding-left:30px;
}

//.artistlist {
//  background-color: #EEE8D5;
//  width: 50%;
//  border-radius: 0 0 20px 20px;
//  opacity: .95;
//  z-index: 10;
//}
//
//
//.artist {
//  list-style-type: none;
//  text-decoration: none;
//}