<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Demo</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="_/components/js/angular/controllers.js"></script>
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
<!--<input type="text" ng-model="name">-->
<!--<h2>Welcome {{name}}</h2>-->
<div class="row" ng-controller = "MyController">
    <div class="large-4 columns">
        <ul class="artistlist">
            <li class="artist" ng-repeat="item in artists">
            <img ng-src="img/thumbs/{{item.shortname}}.jpg" alt="{{item.name}}">
            <div class="info">
                <h2>{{item.name}}</h2>
                <h3>{{item.reknown}}</h3>
            </div>
            </li>

        </ul>
    </div>
    <div class="large-8 columns">
        <!-- ANIMALS =========================================================== -->
        <div class="row text-center">
            <div class="col-xs-6">

                <!-- change goCats to not true or true -->
                <a href ng-click="goCats = !goCats" class="btn btn-primary btn-lg">Toggle Cats</a>
            </div>

            <div class="col-xs-6">
                <img ng-src="http://i.imgur.com/vkW3Lhe.jpg" class="img-responsive img-thumbnail" ng-show="goCats">
            </div>
        </div>
    </div>

</div>

</body>
</html>