<section class="artistPage"><div class="search">
    <h1>Artist Directory</h1>
    <label>search:</label>
    <input ng-model="query" placeholder="Search for artists" autofocus>
</div>
<ul class="artistlist">
    <li class="artist cf" ng-repeat="item in artists |filter: query">
        <img ng-src="img/thumbs/{{item.shortname}}.jpg" alt="Photo of {{item.name}}">
        <div class="info">
            <h2>{{item.name}}</h2>
            <h3>{{item.reknown}}</h3>
        </div>
    </li>
</ul>
</section>
